body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:darkturquoise;
  text-decoration:none;
  font-weight:bold;

}
li.nav-item {
  display:inline;
  padding-left:1em;
}
