doctype html
html
  head
    title= 'Finland fishing statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Finland fishing statistics
    br
    a(href='/brands') Fishing brands in Finland
    br
    a(href='/methods') The most popular fishing methods in Finland

    block content
